.section .about {
  &__container {
    width: 100%;
    @media screen and (min-width: $desktop) {
      padding-left: 39px;
      padding-right: 39px;
    }
    &-wrap {
      @media screen and (min-width: $desktop) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
      }
    }
  }
  &__title {
    color: var(--color-orange-red);
    font-size: var(--font-size-20);
    line-height: 130%;
    text-transform: lowercase;
    text-transform: capitalize;
    margin: 10px 0 107px;
    @media screen and (min-width: $desktop) {
      width: calc(50%);
      font-size: var(--font-size-24);
      font-style: normal;
      font-weight: 400;
      line-height: 110%;
      letter-spacing: -1px;
    }
    &-container {
      padding-bottom: 70px;
    }
    &.upperline {
      margin-bottom: 97px;
    }
  }
  &__subtitle {
    color: var(--color-dark-blue);
    font-size: var(--font-size-26);
    text-align: left;
    font-weight: 400;
    line-height: 31px;
    text-transform: none;
    margin-bottom: 48px;
    @media screen and (min-width: $desktop) {
      font-size: var(--font-size-24);
      font-style: normal;
      font-weight: 400;
      line-height: 100%;
    }
    &.nomargin {
      margin-bottom: 0px;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: $desktop) {
      width: calc(50%);
    }
  }
  &__video {
    transform: translateX(-20px);
    margin: 70px 0;
    width: 100%;
    min-width: 375px;
    height: 480px;
    &-container {
      display: flex;
      position: relative;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid gray;
    padding-top: 50px;
    &:not(:last-child) {
      padding-bottom: 50px;
    }
    @media screen and (min-width: $desktop) {
      padding-top: 60px;
      &:not(:last-child) {
        padding-bottom: 66px;
      }
    }
    &-name {
      color: var(--color-dark-blue);
      font-size: var(--font-size-26);
      line-height: 31px;
      margin-bottom: 25px;
      text-transform: lowercase;
      text-transform: capitalize;
      @media screen and (min-width: $desktop) {
        font-size: var(--font-size-34);
        max-width: 750px;
        margin-bottom: 30px;
      }
    }
    &-description {
      color: var(--color-dark-blue);
      font-size: var(--font-size-16);
      font-style: normal;
      @media screen and (min-width: $desktop) {
        font-size: var(--font-size-22);
        max-width: 750px;
      }
    }
  }
  &__today {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    &-globus {
      display: flex;
      flex-direction: column;
      justify-content: start;
      width: 100%;
      padding: 20px;
      background-color: var(--color-alice-blue);
      border-radius: 13px;
      margin-bottom: 60px;
    }
    &-icon {
      width: 38px;
      height: 38px;
      margin-bottom: 127px;
    }
  }
  &__listOfHistory {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 58px;

    &-item {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    &-img {
      border-radius: 13px;
      margin-bottom: 40px;
    }
    &-text {
      display: flex;
      padding-top: 30px;
      border-top: 1px solid gray;
      color: var(--color-dark-blue);
      font-size: var(--font-size-16);
      font-style: normal;
      text-align: left;
    }
  }
  &__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    box-sizing: border-box;
    align-items: flex-start;
    border-radius: 13px;
    width: 100%;
    height: 188px;
    margin-top: 88px;
    padding: 20px 16px 16px 18px;
    background-color: var(--color-dark-blue);
    &-title {
      color: var(--color-white);
      font-size: var(--font-size-20);
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    &-text {
      color: var(--color-white);
      font-size: var(--font-size-18);
      font-style: normal;
      font-weight: 400;
    }
    &-textcontainer {
      display: flex;
      width: 100%;
      flex-wrap: nowrap;
      justify-content: space-between;
    }
    &-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 38px;
      height: 33px;
      border-radius: 50%;
      background: var(--color-white);
      cursor: pointer;
    }
    &-img {
      width: 16px;
      height: 16px;
    }
  }
}
