@import '~node_modules/modern-normalize/modern-normalize.css';

@font-face {
  font-family: 'Satoshi-Regular';
  src: URL('../font/Satoshi_Complete/OTF/Satoshi-Regular.otf')
    format('truetype');
}

$mobile: 375px;
$tablet: 768px;
$desktop: 1920px;

title {
  font-family: var(--font-family-title);
}
body {
  font-family: var(--font-family-main);
  overflow: unset;
  color: var(--color-dark-blue);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  display: block;
  // max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}
.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 71px;
  @media screen and (min-width: $desktop) {
    padding-top: 100px;
  }
}

.blue-button {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 200px;
  padding: 24px 36px;
  box-sizing: border-box;
  border-radius: 100px 100px 100px 100px;
  background-color: var(--color-dark-blue);
  color: var(--color-white);
  font-size: var(--font-size-20);
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-transform: none;
  white-space: nowrap;
  cursor: pointer;
}
.upperline {
  border-top: 1px solid grey;
  @media screen and (min-width: $desktop) {
    border-top: none;
  }
}
.upperline_container {
  border-top: none;
  @media screen and (min-width: $desktop) {
    border-top: 1px solid grey;
  }
}
.section.about.move_up {
  @media screen and (min-width: $desktop) {
    transform: translateY(-140px);
  }
}

