@keyframes button_annimate {
  20% {
    transform: scale(10000%);
  }
  50% {
    transform: scale(20000%);
  }
  75% {
    transform: scale(30000%);
  }
  100% {
    transform: scale(40000%);
    display: none;
  }
}
@keyframes button_annimate_return {
  20% {
    transform: scale(30000%);
    display: block;
  }
  50% {
    transform: scale(20000%);
  }
  75% {
    transform: scale(10000%);
  }
  100% {
    transform: scale(100%);
    display: none;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  height: 81px;
  width: 100vw;

  @media screen and (min-width: $desktop) {
    width: $desktop;
    height: 133px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 81px;
    padding: 34px 20px 22.7px;
    background-color: var(--color-white);

    @media screen and (min-width: $desktop) {
      max-width: calc($desktop);
      margin: 0 auto;
      padding: 25px 60px;
    }
  }

  &__logo {
    display: block;
    z-index: 12;

    & > img {
      // display: none;
      width: 200px;
      height: 35.37px;
    }
    & .logo {
      display: none;
    }
    & .logo.is-open {
      display: block;
    }
  }

  &__navigation {
    display: none;

    @media screen and (min-width: $desktop) {
      display: flex;
      width: 100%;
      text-transform: lowercase;
      text-transform: capitalize;
    }
  }

  &__form-button {
    display: none;
    @media screen and (min-width: $desktop) {
      display: flex;
    }
  }
}

.navigation {
  &__list {
    display: flex;
    width: 100%;
    gap: 98px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &__link {
    display: flex;
    align-items: center;
    font-family: var(--font-family-main);
    font-size: var(--font-size-20);
    font-style: normal;
    font-weight: 400;
    line-height: 140%;

    // transition: color var(--animation);

    &:hover,
    &:focus {
      font-weight: 700;
    }
  }
}

// mobile menu
.header__mobile-menu.mobile-menu.is-open {
  overflow: hidden;
}
.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 11;

  width: 100vw;
  height: 100vh;

  padding: 140px 20px;

  display: flex;
  flex-direction: column;
  align-items: start;

  transform: translateX(100%);
  transition: transform var(--animation);

  background: rgb(136, 204, 223);

  background-position: center;
  overflow-y: scroll;

  @media screen and (min-width: $tablet) {
    padding: 140px 40px;
  }

  @media screen and (min-width: $desktop) {
    display: none;
  }
  &.is-open {
    visibility: visible;
    transform: translateX(0);
    transition: transform var(--animation);
    transition-delay: 1s;
  }

  &__navigation {
    margin-top: 74px;

    &__list {
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      align-items: flex-start;
      flex-direction: column;
      justify-content: flex-start;
      gap: 20px;
      color: var(--color-white);
      font-size: var(--font-size-20);
      font-style: normal;
      text-align: left;
      font-family: var(--font-family-main);
      font-weight: 400;
      line-height: 28px;
      text-transform: capitalize;

      & .navigation__link {
        color: var(--color-white);
        font-size: var(--font-size-20);

        &--active {
          color: var(--color-accent);
        }
      }
    }
  }
}

.mobile-btn {
  z-index: 11;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0;
  width: 40px;
  height: 40px;

  background: transparent;
  border: none;

  cursor: pointer;

  &:hover,
  &:focus {
    color: var(--color-white);
  }

  &.is-open {
    z-index: 12;
  }

  @media screen and (min-width: $desktop) {
    display: none;
  }

  &__icon {
    position: relative;
    border-radius: 100px;
    background-color: var(--color-dark-blue);

    &-open {
      display: block;

      .mobile-btn.is-open & {
        display: none;
      }
    }
  }

  &__icon-close {
    display: none;

    .mobile-btn.is-open & {
      z-index: 12;
      display: block;
    }
  }
}

.animation_container {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 10px;
  height: 10px;
  border-radius: 100px;
  background-color: var(--color-dark-blue);
  animation-name: button_annimate_return;
  animation-duration: 1.2s;
  animation-iteration-count: 1;
  z-index: -1;
  &.animate {
    animation-name: button_annimate;
    animation-duration: 1.2s;
    animation-iteration-count: 1;
  }
}
