.heroServices {
  &__list {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 11px;
  }
  &__item {
    position: relative;
    width: 335px;
    height: 159.5px;
    border-radius: 13px;
    background-size: 100% 100%;
    &-name {
      position: absolute;
      top: 19.75px;
      left: 19.75px;
      max-width: 120px;
      color: var(--color-white);
      font-size: var(--font-size-18);
      font-style: normal;
      text-align: left;
      font-weight: 400;
      line-height: normal;
      text-transform: lowercase;
      text-transform: capitalize;
    }
    &-navigationlink {
      text-decoration: none;
    }
    &-link {
      position: absolute;
      top: 19.75px;
      right: 19.75px;
      width: 12.5px;
      height: 12.5px;
    }
  }
}
