<header id="header" class="header">
  <div class="header__container">
    <a
      class="header__logo"
      href="./index.html"
      aria-label="Logo of the company"
    >
      <img
        class="logo logo_dark is-open"
        src="images/mg-logo_dark.svg"
        alt="Logo"
      />
      <img
        class="logo logo_bright"
        src="images/mg-logo_bright.svg"
        alt="Logo"
      />
    </a>
    <nav class="header__navigation navigation">
      <ul class="navigation__list"></ul>
    </nav>

    <button
      class="header__form-button blue-button"
      type="button"
      aria-label="go to the contact form"
    >
      Contact Us
    </button>

    <button
      class="mobile-btn"
      type="button"
      aria-label="Switch mobile menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <div class="mobile-btn__icon" width="33" height="33">
        <div class="animation_container"></div>
        <img
          class="mobile-btn__icon-open"
          src="images/mobile_menu.svg"
          alt="open mobile menu"
        />

        <img
          class="mobile-btn__icon-close"
          src="./images/close_icon.svg"
          alt="close mobile menu"
        />
      </div>
    </button>
  </div>

  <!-- ========= MOBILE MENU ===========-->
  <div class="header__mobile-menu mobile-menu" id="mobile-menu">
    <nav class="mobile-menu__navigation navigation">
      <ul class="navigation__list mobile-menu__navigation__list"></ul>
    </nav>
  </div>
</header>
