.footer {
    padding-top: 40px;
    padding-bottom: 20px;
    background-color: var(--color-dark-blue);

    @include mq(desktop) {
        background-color: var(--color-white);
    }

    &__container {
        position: relative;

        @include mq(desktop) {
            width: 1880px;
            // height: 834px;
            padding: 45px;

            background-color: var(--color-dark-blue);
            background-image: url('../images/footer/Frame 116046637.svg');
            background-repeat: no-repeat;
            background-position: top right, center;
            background-size: cover;
        }
    }

    &__logo {
        @include mq(desktop) {
            margin-left: auto;
        }
    }

    &__subtitle {
        margin-bottom: 20px;

        font-size: 18px;
        font-weight: 400;
        text-align: left;

        color: var(--color-white);

        @include mq(desktop) {
            margin-bottom: 44px;
            font-size: 20px;
            line-height: 140%;
        }
    }

    &__desc {
        font-size: 14px;
        font-weight: 400;
        line-height: 115%;
        text-align: left;

        color: var(--color-white);
        opacity: 50%;

        @include mq(desktop) {
            font-size: 16px;
            line-height: 140%;
        }

        &--accent {
            opacity: 100%;
        }

        &--upper {
            font-size: 16px;
        }
    }

    & .social-links {
        position: absolute;
        top: 2px;
        right: 30px;

        @include mq(desktop) {
            top: auto;
            bottom: 47px;
            right: 45px;
        }
    }
}

.grid {
    @include mq(desktop) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        column-gap: 300px;
        row-gap: 145px;

        margin-top: 30px;
    }
}

.group {
    @include mq(desktop) {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto;
        column-gap: 100px;
    }
}

.info {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-end;

    margin-top: 68px;

    @include mq(desktop) {
        order: -1;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 0;
    }

    & li {
        @include mq(not-desktop) {
            width: 50%;
        }
    }

    & ul {
        @include mq(not-desktop) {
            width: 50%;
        }
    }

    &-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
}

.address {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    column-gap: 30px;
    row-gap: 41px;

    margin-top: 86px;

    @include mq(desktop) {
        margin-top: 0;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 13px;
    }
}

.offices {
    margin-top: 78px;

    @include mq(desktop) {
        margin-top: 0;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 26px;
    }
}

.certifications {
    margin-top: 40px;

    @include mq(desktop) {
        margin-top: 0;
    }

    &__list {
        display: flex;

        @include mq(desktop) {
            gap: 56px;
        }

        & li {
            width: 50%;

            &>p {
                margin-bottom: 13px;
            }
        }

        & ul {
            @include mq(desktop) {
                display: flex;
                flex-wrap: wrap;
                max-height: 103px;
            }
        }
    }
}

.copyright {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 7px;

    margin-top: 78px;

    @include mq(desktop) {
        flex-direction: row;
        justify-content: space-between;

        margin-right: 366px;
        margin-top: 63px;

        &:nth-child(3) {
            order: -1;
        }

        &:nth-child(4) {
            order: 4;
        }
    }
}